.allfrom{
    margin:40px ;
    padding: 20px;
    border: 1px solid#e7e7e7;
    background-color: #fafafa;
    text-align: center;
}
b{
    color: red;
}
.allfrom h3{
    padding: 15px 0 0 0;
}
.allfrom>.allian>p>.pre{
    display: inline;
    width: 190px;
}
.preview{
    width: 200px;
    height: 200px;
    display: none;
}
.exatype{
    height: 25px;
    width: 174px;
}
.perr{
    color: red;
    height: 20px;
    margin: 0;
}