body,html{
	  	height:100%;
	  	width: 100%;
	}

#tap{
	width: 1000px;
	height: 600px;
	/*border: 1px solid burlywood;*/
	/*margin: 0 auto ;
	margin-top: 30px;*/
	box-shadow: darkgrey 0px 0px 19px -6px; 
	/*display:flex;*/
    /*align-items: center;
    justify-content:center;*/
    /*position: absolute;
    left:190px;
    top: 60px;*/
}
.left{
	/*margin-top: 25px;
	margin-right: 20px;*/
	width: 760px;
	height: 550px;
	float: right;
}
.left_top{
	width: 760px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #C0C0C0;
	background-color: white;
}
.right{
	/*margin-top: 25px;
	margin-left: 20px;*/
	width: 240px;
	height: 600px;
	border: 1px solid #333333;
	background: #333333;
	float: left;
	overflow: auto;
}
.right ul{
	width: 190px;
	/*height: 50px;*/
}
.right  li{
	list-style:none;
	width: 180px;
	height: 50px;
	line-height: 50px;
	border: 1px solid white;
	margin-left: -32px;
	cursor: pointer;
}
.left_top_zuo{
	float: left;
}
.left_top_zuo img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	margin-left: 10px;
}
.left_top_right{
	float: right;
}
.left_top_right span{
	width: 30px;
	height: 30px;
	line-height: 3px;
}
.left_top_text{
	margin-left: 80px;
}
.left_top_text span{
	color: black;
	font-weight: 700;
	font-size: 18px;
}
#message{
	width: 760px;
	height: 330px;
	/*border: 1px solid black;*/
	/*margin: 0 auto;*/
	/*margin-top: 20px;*/
	overflow: auto;
	background: white;
}
.msg_left{
	width: 200px;
	float: left;
}
.msg_right{
	width: 200px;
	float: right;
}
.msg_input{
	width: 700px;
	height: 100px;
	/*border: 1px solid black;*/
	/*margin: 0 auto;
	margin-top: 10px;*/
	background: white;
}

#message img{
	width: 50px;
	height: 50px;
	border-radius: 25px;

}
.msg_input textarea{
	width: 700px;
	height: 100px;
	
}
.msg_button{
	margin-top:6px;
	margin-left:20px;
}
#msgLists{
	width: 300px;
	height: 300px;
	border: 1px solid black;
	display: none;
}
#QQ{
	width: 250px;
	height: 200px;
	border: 1px solid #333;
	position: absolute;
	top:207px;
	left:221px;
	background-color: white;
	/*display: none;*/
}
.x{
	float: right;
	/*border: 1px solid #333;*/
	width: 20px;
	height: 20px;
	text-align: center;
	/*line-height: 10px;*/
	font-weight: 700;
	cursor: pointer;
}
.msg_input{
	width: 761px;
	border: 1px solid #C0C0C0;
	height: 165px;
}
.msg_img{
	margin-top: 10px;
	width: 760px;
	height: 30px;
	/*line-height: 40px;*/
	/*border: 1px solid #B3B3B3;*/
}
#lists{
	float: right;
}
.msg_img a{
	color: #000000;
	cursor: pointer;
	font-size: 15px;
	margin-right: 10px;
}
#send{
	float: right;
	margin-right: 10px;
}
.title{
	border-bottom: 1px solid white;
}

.right .text{
	border: 1px solid white;
}
.right h3{
	color: white;
	text-align: center;
}
.right span{
	color: white;
	font-size: 14px;
}
.right .time{
	color: white;
	font-size: 12px;
	float: right;
}
.right img{
	width: 50px;
	height: 50px;
}
.cont{
	color: white;
}
.msg_left1{
	width: 200px;
	float: left;
}
.msg_right1{
	width: 200px;
	float: right;
}
.msg_img{
	background: white;
}
