.sceneryInfo{
    background-color: #fafafa;
    border-bottom: 1px solid lightgrey;
    border-top:1px solid lightgrey;
    padding:20px;
}
.content{
    font-size: 18px;
    line-height: 24px;
}

.more a{
    color: orange;
}
.more a{
    color: orange;
    cursor: pointer;
}
.top{
    padding:20px;
}
.all-div{
    display: inline-block;
}
/*.sc-img{
    width:380px;
    margin-bottom: 10px;
    !*height:280px;*!
}
.sc-img2{
    width:182px;
    !*height:200px;*!
    margin-bottom: 10px;
}*/
.num{
    display: inline-block;
    margin-right: 15px;
    width:25px;
    height:25px;
    line-height: 25px;
    text-align: center;
    background-color: orange;
    border-radius: 3px;
    color: #FFFFFF;
}
.name{
    color: orange;
    font-size:20px;
    vertical-align: middle;
}
.name:hover{
    color: orange;
    font-size:20px;
    cursor: pointer;
}
.sc-content{
    padding:10px 0;
    font-size:18px;
}
.another{
    color: #9d9d9d;
    font-size:16px;
}
.right{
    float: right;
    color: orange;
}
.detailScenery .container .row{
    /*border-bottom:1px solid lightgrey;*/
}
.sc-div{
    padding:20px;
}
.anathor-a{
    font-size:16px;
    color: orange;
}
.anathor-a:hover{
    cursor: pointer;
    color: orange;
}
.cname{
    display: inline-block;
    margin:10px 0;
    font-size:20px;
    font-weight: 700;
}
.loadimg{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    overflow: visible;
    z-index: 999;
    background: #fff url("../images/log/loader.gif") no-repeat center;
}
