.left,
.center,
.right{
    display: inline-block;
}
.left{
    width:100px;
    text-align: right;
}
.right{
    width:300px;
}
.add-div{
    margin-top:10px;
}
.right input{
    width:200px;
    padding:5px;
}
.confirm{
    margin-left:150px;
}
.city{
    width:200px;
    margin-top: 10px;
    margin-left:105px;
}


.update{
    width:450px;
    padding:10px;
    border:1px solid #dddddd;
    border-radius: 4px;
}
.update-box,
.update-btn{
    margin-top:10px;
}
.update-btn{
    width: 200px;
    margin-left:180px ;
}
.update-left{
    width:120px;
    display: inline-block;
}
.update-right{
    width:300px;
    display: inline-block;
}
.update-right input{
    padding:3px;
    width:245px;
}
#scenery-img{
    width: 50px;
    height: 50px;
}
.name-div{
    display: inline-block;
}
input[type="file"] {
    display: inline-block;
}
.search-input{
    width:300px;
    padding:5px;
}
.search-box{
    display: inline-block;
}