*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
html,
body{
	width: 100%;
	height: 100%;
}
.top-img{
	width: 100%;
	height: 550px;
	background: url(../images/destination/destinationbc.jpg) center top no-repeat;
	background-size: 100%;
	position: relative;
}
/*搜索区域*/
.search-box{
	width: 400px;
	padding: 15px;
	background-color: rgba(0,0,0,.4);;
	border-radius: 4px;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -500px;
	margin-top: -110px;
}
/*@media min-w {

}*/
.search-text{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 700;
}
.middle-row{
	margin-top: 15px;
}
.search-input{
	padding: 7px;
	width: 300px;
	border-radius: 5px;
}
.btn-search{
	background-color: orange;
	padding: 5px;
}
.search-dest{
	margin-top: 15px;
}
.search-destination{
	color: #FFFFFF;
	font-weight: 500;
}
.search-destination:hover{
	color: #FFFFFF;
	text-decoration: underline;
}
.right{
	width: 535px;
	height: 170px;
	margin-right: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -140px;
	margin-left: 0;
	color: #FFFFFF;
}
.right p{
	color: #FFFFFF;
	font-size: 16px;
}
.right h2:hover{
	color: orange;
	cursor: pointer;
}
.read-all{
	font-size: 18px;
	text-decoration: underline;
	color: #FFFFFF;
}
.read-all:hover{
	color: orange;
}
.jiantou{
	width: 36px;
	height: 20px;
	
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -60px;
	margin-top:220px;
	background: url(../images/destination/xia-jiantou_03.png) no-repeat ;
	overflow: hidden;
	z-index: 10000;
}
/*中间部分*/
.middle-content,
.theme-content{
	width: 100%;
	background-color: #FFFFFF;
	padding: 15px;
	border-bottom: 1px solid #EEEEEE;
	margin: 10px auto;
}
.middle-title{
	text-align: center;
	margin-bottom: 15px;
}
.nav-bar,
.nav-bar-month,
.nav-bar-theme{
	font-size: 20px;
	width: 1000px;
	margin: 0 auto;
}
.nav-bar .col-sm-2,
.nav-bar-month .col-sm-2,
.nav-bar-theme .col-sm-2{
	width: 120px;
	height: 40px;
	padding-bottom: 10px;
	text-align: center;
}
.nav-bar .col-sm-2 a,
.nav-bar-month .col-sm-2 a,
.nav-bar-theme .col-sm-2 a{
	display: inline-block;
	padding-bottom: 10px;
	color: #333333;
	font-weight: 400;
	text-decoration: underline;
}
.divide{
	display: inline-block;
	margin-top: 3px;
	width: 1px;
	height: 15px;
	background-color: #eee;
	overflow: hidden;
	line-height: 100px;
	vertical-align: top;
}
.col-sm-2 .on{
	cursor: pointer;
	border-bottom: 4px solid orange;
}
.col-sm-2 .on:hover{
	font-weight: 500;
	color: orange;
}
.prov-span{
	font-size:18px;
	display: inline-block;
}
#prov{
	width:1200px;
	margin:0 auto;
	padding:10px;
	/*border:1px solid red;*/
}
.prov-div{
	float: left;
	width:105px;
	text-align: left;
	padding:5px;
	text-decoration: underline;
	/*border:2px solid green;*/
}
#prov .col-xs-6{
	padding:5px;
}
#prov .city-span{
	float: right;
	width:450px;
	padding:5px;
	font-size:16px;
	color: #9d9d9d;
}
.prov-div:hover{
	cursor: pointer;
	color: orange;
}
#prov .city-span .span-name:hover{
	text-decoration: underline;
	color: orange;
	cursor: pointer;
}

/*月份部分*/
.month-content{
	width: 100%;
	padding: 15px;
	margin: 10px auto;
}
.nav-bar-month{
	width: 1150px;
}
.nav-bar-month .col-sm-2 a{
	text-decoration: none;
}
.nav-bar-month .col-sm-2{
	width: 95px;
}

.nav-bar-month .col-sm-2 .on{
	cursor: pointer;
	border-bottom: 4px solid orange;
}
.nav-bar-month .col-sm-2 .on:hover{
	font-weight: 500;
	color: orange;
}
/*月份图片*/
.img-content{
	width: 1200px;
	margin: 0 auto;
}
.img-content .row .icon3{
	margin: 20px 0;
}
.img-content .row .icon3 img{
	width: 380px;
	height: 250px;
}
.img-content .row .icon4 img{
	width: 280px;
	height: 250px;
}
.img-content .row .icon4{
	text-align: center;
}
/*主题精选*/
.nav-bar-theme{
	width: 605px;
}
.nav-bar-theme .col-sm-2{
	width: 150px;
}
/*主题精选图片*/
.theme-img{
	width: 1200px;
	margin: 0 auto;
}
.icon-theme{
	margin: 10px 0;
}
.icon-theme-img{
	width: 280px;
	height: 250px;
}
.loadimg{
	position: fixed;
	top:0;
	left: 0;
	width:100%;
	height:100%;
	overflow: visible;
	z-index: 999;
	background: #fff url("../images/log/loader.gif") no-repeat center;
}
