#chat{
	display: none;	
	position: absolute;
    left:190px;
    top: 121px;	
}
.h-bread{
    margin: 15px 0 20px;
    font-size: 12px;
    
    color: #444;

    overflow: hidden;
}

.h-bread li{
    float: left;
}
.h-bread .split{
    margin: 0 8px;
}
.h-bread .now{
    color: #ff7000;
    font-weight: bold;
}
.h-info{
    position: relative;
    margin-bottom: 15px;
}
.h-name{
    font-size: 26px;
    color: #333;
    line-height: 30px;
   margin-bottom: 5px;
    font-weight: normal;
}
.en-name{
    line-height: 24px;
    color: #666;
}
.h-address{
    line-height: 24px;
    color: #999;
    font-size: 12px;
}
.info-extra{
    position: absolute;
    bottom: 0;
    right: 0;
}
.info-extra .score{
    
    font-size: 32px;
    font-style: normal;
    color: #ff8a00;
}
.divide{
    margin: 0 10px;
    display: inline-block;
    width: 1px;
    height: 40px;
    background-color: #ccc;
    vertical-align: text-bottom;

}
.info-extra span{
    
    display: inline-block;
}

.info-extra .ico{
    
    margin-right: 5px;
    width: 20px;
    height: 18px;
    background: url(../images/log/logo2png.png);
    background-size: 100%;
}
.h-img{
    position: relative;
    height: 420px;
    
}
.into-img{
    width: 83%;
    display: inline-block;
    height: 100%;
    position: relative;
}
.into-img img{

    width:100%;
    height: 100%;
    border-radius: 5px;
    
}
.img-list{
    position: absolute;
    top: 0;
    right: 0;
    width: 182px;
    height: 100%;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
}
.img-list img{
    width: 100%;
}
.h-intro{
    padding:0 20px;
    color: white;
    position: absolute;
    bottom: 0;
    max-height: 80px;
    height: 60px;
    line-height: 30px;
    width: 100%;
    background: rgba(0,0,0,0.5)
}


#h-navbar{
    margin: 25px 0px 10px 0px;
    position: relative;
}
#h-navbar li a{
    color: #333;
    font-size: 16px;

}
#h-navbar .active a{
    font-weight: 700;
    color: orange;
}


.form-srarch{
    padding: 15px 0;
}
.form-srarch input{
    margin-bottom: 10px;
}


#h-collect{
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
    min-height: 58px;
    line-height: 30px;
    padding: 10px 0;
}
.collect-ico{
   position: relative;
   top:6px;
    display: inline-block;
    width: 27px;
    height: 25px;
    background: url(../images/hotel/hotel-detail-icon8.png) no-repeat -100px 0;
}

.room-table{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
  
}
.room-table .tr{
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    
}



.td-type{
    width: 220px;
    padding:  15px;
   
}
.td-info{
    width: 230px;
    padding:  20px 15px;
}

.td-price{
    width: 150px;
    padding:  20px 15px;
    position: relative;
}
.td-num{
    width: 205px;
    padding: 30px 15px;
}

.room-table .title{
    height: 47px;
    line-height: 46px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f7f7f7;
    color: #333;
    padding:  0;
}
.room-table .title .td{
    padding:  0 15px !important;
}
.td-type img{
    
    
    width: 100%;

}
.td-info p{
    margin-bottom: 7px;
				
}
.td-price .room-price{
    font-size: 20px;
    color: #ff8a00;
    font-weight: bold;
}

.room-name{

    height: 16px;
 
    margin-bottom: 5px;
    color: #333;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.room-name:before{
    content: '';
    float: left;
    margin: 4px 5px 0 0;
    border-left: 4px solid #ffa800;
    border-top: 4px dashed transparent;
    border-bottom: 4px dashed transparent;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.btn-action{
    float: left;
    display: inline-block;
    padding: 2px 19px;
    line-height: 30px;
    background-color: #ffb200;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
}
.room-table .dropdown{
    float: left;
    margin-right: 15px !important;
    margin-bottom: 15px;
}
.room-table .dropdown-menu{
min-width: 45px;
}
@media(max-width:1140px) and (min-width:1050px){
    .into-img{
        width: 82%;
    }
}

@media(max-width:1049px){
    .into-img{
        width: 81%;
    }
}

@media(max-width:991px){
    .into-img{
        width: 100%;
    }
    .img-list{
        display: none;
    }
}

@media(max-width:767px){
    #btn-search button{
        width: 100%;
    }
    .room-table .dropdown{
        display: none;
    }
    .room-table .total-price{
        display: none;
    }
   
    .nav>li {
        margin-right: 18px;
    }
  
}

@media(max-width:520px){
    .h-img{
      
        height: 100%;
    }
    .td-info{
        display: none;
    }
    .room-table .title{
        display: none;
    }
    .td-num{
        padding: 25px 15px;
    }
}
@media(max-width:450px){
    .info-extra .score{
    
        font-size: 24px;
        font-style: normal;
        color: #ff8a00;
    }
    .h-comment{
        display: none !important;
    }

    
}


/*xiangq*/
.hotel-info {
    padding: 40px 0
}

.hotel-info .expand-wrap {
    overflow: hidden
}

.facility-item:first-child {
    margin-top: 0
}

.hotel-info .cell {
    float: left;
    width: 165px
}

.hotel-info .cell .content {
    color: #333;
    letter-spacing: .5px;
    vertical-align: bottom
}

.hotel-info .cell .content strong {
    font-size: 18px;
    font-weight: normal;
    vertical-align: bottom
}

.facility-item .label {
    float: left;
    margin-left: -80px
}

.facility-item li {
    float: left;
    width: 165px;
    display: inline;
    margin-bottom: 12px
}

.facility-item .off {
    color: #ccc;
    text-decoration: line-through
}

.facility-item .off i {
    opacity: .3;
    filter: alpha(opacity=30)
}

.facility-item i {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background-position: -110px -70px
}

.facility-item .icon-park,.facility-item .icon-parking {
    background-position: -130px -70px
}

.facility-item .icon-shuttle,.facility-item .icon-ota_shuttleservice {
    background-position: -150px -70px
}

.facility-item .icon-elevator {
    background-position: -170px -70px
}

.facility-item .icon-restaurant {
    background-position: -190px -70px
}

.facility-item .icon-consign {
    background-position: -210px -70px
}

.facility-item .icon-chinese {
    background-position: -230px -70px
}

.facility-item .icon-swim {
    background-position: -250px -70px
}

.facility-item .icon-blower {
    background-position: -270px -70px
}

.facility-item .icon-thermos {
    background-position: -290px -70px
}

.facility-item .icon-24hours {
    background-position: -310px -70px
}

.facility-item .icon-water {
    background-position: -330px -70px
}

.facility-item .icon-broadband {
    background-position: -372px -70px
}

.facility-item .icon-ok {
    margin: 0 10px 0 4px;
    width: 11px;
    height: 9px;
    background-position: -205px -30px
}

.expand-more {
    position: relative;
    margin: 10px 0 0 155px;
    display: inline-block;
    color: #ff8a00
}

.expand-more i {
    margin-right: 5px;
    width: 16px;
    height: 13px;
    background-position: -220px 0
}

.expand-more .icon-less {
    background-position: -220px -15px
}

.info-section {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    line-height: 24px
}

.info-section dl {
    margin-left: 155px
}

.info-section dl+dl {
    margin-top: 5px;
    padding-top: 20px;
    border-top: 1px dashed #cecece
}

.info-section dt {
    float: left;
    display: inline;
    margin-left: -155px;
    width: 155px;
    font-size: 16px;
    font-weight: bold;
}

.hotel-comment {
    padding: 40px 0
}

.hotel-comment h3.title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    color: #333;
    letter-spacing: 1px
}


