
.search-bbox{
	position: absolute;
	bottom: 9%;
	width: 100%;
}
.search-box{
	margin: 0 auto;
	border-radius: 5px;
	padding: 15px;
	height: 100px;
	width: 580px;
	background-color: rgba(0,0,0,.6)
}
.search-box>ul {
	padding: 0;
    margin: 0;
}
.search-box>ul li{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-right: 20px;
}
.search-box>ul li>a{
	line-height: 10px;
	color: #FFF;
	text-decoration: none;
}
.search-box>ul li>a>i{
	margin: 3px 5px 0 0;
	float: left;
	background-image: url(../images/choose.png);
	height: 16px;
	width: 16px;
}
.active>a>i{
	background-image: url(../images/choosed.png)!important;
}
.tab-content{
	padding-top: 10px;
}
.tab-pane>input{
	border: 0;
	border-radius: 5px;
	padding: 0 20px;
	width: 500px;
	height: 36px;
	line-height: 36px;
}
.tab-pane>a{
	padding: 6px 6px;
	height: 36px;
	width: 40px;
}
.right-mo,
.left-mo{
	padding-top: 20px;
}
.lx-tip{
	height: 36px;
	width: 240px;
}

.traveller-column{
	margin-top: 40px;
}
.tra-ti{
	height: 25px;
    line-height: 20px;
    margin-bottom: 12px;
}
.latest-activities h4,
.tourism-strategy h4,
.traveller-column h4{
	color: #000;
	margin: 0;
	float: left;
}
.tra-ti a{
	color: #c3c3c3;
	float: right;
}
.tourism-strategy{
	position: relative;
}
.left-mo>div{
	margin-bottom: 30px;
}
.tsbq{
	position: absolute;
    left: 0;
    top: 22%;
    padding: 0 6px;
    color: #fff;
    line-height: 24px;
    background-color: #ff6262;
    font-size: 12px;
}
.tsbq:after{
	content: '';
    position: absolute;
    top: 0;
    right: -5px;
    border-top: 12px solid #ff6262;
    border-bottom: 12px solid #ff6262;
    border-right: 5px dashed transparent;
}
.asidebox a{
	margin-left: 10px;
	white-space: nowrap;
}
.asidebox li{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.right-mo{
	padding-left: 80px;
}
.travels ul,
.travels ul li>a,
.travels ul .active{
	border: 0!important;
}
.travels ul{
	border-bottom: 1px solid#e4e4e4!important;
}
.travels ul .active{
	padding-bottom: 6px;
    border-bottom: 3px solid #ff9d00!important;
}
.travels ul li{
	display: inline;
    text-align: center;
}
.travels ul li:hover a{
	background-color: transparent!important;
	color: #ff9d00!important;
}
.travels ul li>a{
	color: #000000;
}
.travels ul .active a{
	color: #ff9d00;
}
.travels ul li>a{
	font-size: 18px;
}
.mo-tra{
	margin: 20px;
}
.btn-tras{
	padding-top: 10px;
	float: right!important;
}
.btn-tra{
	width: 160px;
	font-size: 18px;
	background-color: #ff9d00;
	color: #fff;
}
.btn-tra:hover{
	color: #fff;
}
.screen{
	border-radius: 0;
	height: 23px;
    padding: 0 10px;
    margin-bottom: 4px;
	font-size: 12px;
	background-color: #FFF;
	color: #666;
	border: 1px solid#e3e3e3;
}
.screen:hover{
	background-color: #ff9d00;
	color: #fff;
}
.toolbar{
	position: fixed;
	bottom: 2%;
	right: 2%;
	z-index: 39;
}
.toolbar button{
	margin-bottom: 10px;
	display: block;
	width: 50px;
	height: 50px;
	font-size: 20px;
}
