
body{
	overflow: auto;
}
.slider-image{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.regist-box,
.logreg-box{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}
.dsf p{
	line-height: 30px;
	float: left;
	margin-left: 50px;
}
.mfwmain{
	display: block;
	margin: 50px auto 0;
}
.forgetbox,
.newpass,
.regist,
.logbox{
	padding-top: 20px;
	margin: 20px auto 0;
	width: 400px;
	height: 360px;
	background-color: #fff;
	border-radius: 10px;
}
.regist{
	padding-top: 5px;
}
.reg-tip,
.log-tip{
	font-size: 12px;
	color: #fff;
	padding: 3px 15px 0;
	margin: 15px auto 0;
	width: 140px;
	border-radius: 20px;
	background-color: rgba(0,0,0,0.4)
}
.reg-tip a,
.login-go a,
.regin-go a,
.log-tip a{
	color: #ffa800;
}
.regist-go,
.regin-go,
.login-go{
	padding: 30px 40px;
}
.regin-go p,
.login-go a{
	float: right;
}
.regin-go{
	margin-top: 20px;
}
.regin-go input,
.login-go input{
	height: 40px;
	line-height: 40px;
	margin-bottom:30px ;
}
.regist-go input{
	height: 40px;
	line-height: 40px;
	margin-bottom:15px ;
}
.regist-go button,
.regin-go button,
.login-go button{
	font-size: 16px;
	font-weight: 800;
	height: 40px;
	clear: both;
}
.dsf{
	overflow: auto;
	padding:20px 0 0 20px ;
}
.disf{
	float: left;
	padding-left: 20px;
}
.disf li{
	list-style-type: none;
	float: left;
	margin:0 10px ;
}
.disf li a img{
	height: 30px;
	width: 30px;
}
.disf li a .img1{
	display: none;
}
.disf li a:hover .img{
	display: none;
}
.disf li a:hover .img1{
	display: block;
}
.forgetbox,
.newpass,
.regist-box,
.reg-tip,
.regin-go{
	display: none;
}
.log-tip a,
.reg-tip a{
	cursor: pointer;
}
.regist-box h3{
	margin-bottom: 0px;
	color: #ffa800;
	text-align: center;
}
.forget{
	cursor: pointer;
}
.againm{
	text-decoration: none;
	color:#ffa800;
	cursor: pointer;
}
.againm:hover{
	color:#ffa800;
}