/*自定义首页样式*/
.pro_infor .price {
    float: left;
    color: #f60;
    font-size: 14px;
    padding-left: 5px;
}

.pro_infor .price b {
    font-weight: bold;
    font-size: 20px;
    font-family: arial;
    margin-left: -3px;
}

.pro_infor .price i {
    font-size: 12px;
    font-style: normal;
}

.pro_infor .satisfaction {
    float: right;
    color: #999;
    display: inline;
    margin-right: 5px;
    position: relative;
    top: 2px;
    padding: 0;
}

.pro_mess_bg {
    height: 40px;
    width: 215px;
    position: absolute;
    left: 0;
    bottom: 0px;
    background: #38414c;
    opacity: 0.75;
    filter: Alpha(opacity=75);
}

.pro_mess {
    height: 38px;
    width: 210px;
    position: absolute;
    left: 5px;
    bottom: 0px;
    overflow: hidden;
}

.pro_mess a span {
    font-weight: bold;
}

.pro_mess a, .pro_mess a {
    color: #fff;
    width: 217px;
    height: 42px;
    display: block;
    line-height: 18px;
    overflow: hidden;
}

.pro_pic {
    position: relative;
    width: 215px;
    height: 120px;
    overflow: hidden;
    margin-bottom: 5px;
}