/*自定义旅游游记样式*/
ul.yj-list {
    margin-top: 20px;
    display: none;
}

ul.yj-list li {
    float: left;
    margin-bottom: 30px;
    position: relative;
    transition: all 0.5s;
}

.list-img {
    width: 265px;
    height: 150px;
    float: left;
    position: relative;
}
.list-recommend.gl-jh {
    background-position: 0px 0px;
}
.yj-left-show img {
    width: 100%;
}
.list-recommend {
    position: absolute;
    top: 0px;
    background: url('//img1.tuniucdn.com/site/images/yj_2016/tab.png') -150px 0px no-repeat;
    background-position-x: -150px;
    background-position-y: 0px;
    width: 45px;
    height: 68px;
    left: 10px;
}

.list-show {
    margin-left: 270px;
    width: 440px;
    height: 150px;
}

.list-name {
    color: #222;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 7px;
    padding-left: 10px;
}

.list-des {
    font-size: 14px;
    color: #666;
    padding: 5px 10px;
    height: 55px;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    margin-top: -2px;
}

.list-auther {
    margin-left: 10px;
    margin-top: 18px;
}

.list-auther-left {
    font-size: 14px;
    color: #666;
    float: left;
}

.yj-left-show .list-auther-left img {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    float: left;
    background: transparent;
    /*behavior: url(/site/css/yj_2016/ie-css3.htc);*/
}

.list-scan {
    float: left;
    margin: 3px -4px 3px 5px;
    font-size: 12px;
    color: #bbb;
}

.list-scan i {
    background: url('//img1.tuniucdn.com/site/images/yj_2016/home_icon.png?v=201617956') -40px -7px no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    position: relative;
    top: -1px;
    right: -2px;
}

.list-comment {
    float: left;
    margin: 3px 0px;
    font-size: 12px;
    color: #bbb;
}

.list-comment i {
    background: url('//img1.tuniucdn.com/site/images/yj_2016/home_icon.png?v=201617956') -80px -7px no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    position: relative;
    top: -1px;
    right: -2px;
}