*{
    padding: 0;
    margin: 0;
    color: #333;
    text-decoration: none;
    list-style: none;
}
html,
body{
    width: 100%;
    height: 100%;
}
.search-box{
    display: inline-block;
    width:500px;
    margin-left:20px;
    margin-bottom:20px;
}
.search-input{
    width:300px;
    padding:5px;
}
.update{
    width:450px;
    padding:10px;
    border:1px solid #dddddd;
    border-radius: 4px;
}
.update-box,
.update-btn{
    margin-top:10px;
}
.update-btn{
    width: 200px;
    margin-left:180px ;
}
.left{
    width:100px;
    display: inline-block;
}
.right{
    width:300px;
    display: inline-block;
}
.right input{
    padding:3px;
    width:245px;
}
#scenery-img{
    width: 50px;
    height: 50px;
}

input[type="file"] {
    display: inline-block;
}
.intro-div,
.sceneryintro{
    width: 300px;
    height:100px;
    padding:5px;
    border:1px solid #999999;
}
.add-btn{
    width:100px;
    margin:15px auto;
}





