.top{
    padding:10px;
}
.cname{
    display: inline-block;
    margin:10px 0;
    font-size:20px;
    font-weight: 700;
}
.tab{

}
.a-words{
    color: orange;
    font-size:18px;
    text-decoration: underline;
}
.commitbtn{
    margin-right:20px;
    float: right;
    position: relative;
    top:-33px;
}
.nav-tabs{
    float: left;
}
.intro-p{
    font-size:18px;

}
.words-div{
    font-size:16px;
}
.words-div .row{
    /*padding:20px;*/
    margin:10px 0;
}
.words-div a{
    color: orange;
}
.words-div a:hover{
    cursor: pointer;
    color: orange;
}
.loadimg{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    overflow: visible;
    z-index: 999;
    background: #fff url("../images/log/loader.gif") no-repeat center;
}
#image-holder {
    width: 900px;
    margin: 0 auto;
    padding: 10px;
}

.imgupload {
    width: 200px;
    height: 200px;
    margin: 10px;
}
/*评分框的显示*/
a {
    color: #f1c40f;
}

a:hover,
a:active,
a:focus {
    color: #dab10d;
}

.rating-stars {
    width: 100%;
    text-align: center;
}

.rating-stars .rating-stars-container {
    font-size: 0;
}

.rating-stars .rating-stars-container .rating-star {
    display: inline-block;
    font-size: 32px;
    color: #555555;
    cursor: pointer;
    padding: 5px 10px;
}

.rating-stars .rating-stars-container .rating-star.is--active,
.rating-stars .rating-stars-container .rating-star.is--hover {
    color: #f1c40f;
}

.rating-stars .rating-stars-container .rating-star.is--no-hover {
    color: #555555;
}

span {
    font-size: 18px;
}

.xing {
    color: red;
}

.destination-name {
    font-size: 20px;
    font-weight: 600;
}

.comment-div {
    width: 1000px;
}

textarea {
    margin-bottom: 3px;
    border: 1px solid #efefef;
    background-color: #efefef;
    padding: 12px 14px;
    width: 90%;
    height: 60px;
    font-size: 12px;
    line-height: 20px;
    overflow: auto;
    resize: none;
}

.text-p {
    color: #999999;
}

.rating-stars {
    text-align: left;
}
.comment-div{
    padding:20px;
}
.content-div{
    display: inline-block;
    vertical-align: top;

    margin-left:10px;
    width:600px;
}
.comment-name{
    font-size:20px;
}
.pingjia-box{
    display: inline-block;
}
#wrapper-img{
    display: inline-block;
}
.img-a{
    display: block;
    width:121px;
    height: 120px;
    background: url(../images/destination/uploadingimg3.png) no-repeat ;
}
.img-i{
    width: 44px;
    height: 44px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -18px;
    margin-left:-442px;
    background: url(../images/destination/uploadingimg1.png) no-repeat ;
}
.img-a:hover{
    cursor: pointer;
    background: #ffc65a;
}
.upload-div{
    position: relative;
    top: -120px;
    left: 0;
    display: inline-block;
    width: 120px; height: 120px; overflow: hidden;
}
#image-holder{
    display: inline-block;
    position: relative;
    top: -110px;
    left: 0;
}
#fileUpload{
    font-size: 999px; opacity: 0; width: 100%; height: 100%;
}
.submitBtn{
    position: relative;
    top:-110px;
    left:0;
}
.comment-words{
    font-size:16px;
    color: #999;
}
.name1{
    margin:20px 0;
    font-size:20px;
    font-weight: 700;
    display: inline-block;
}
.name1 a:hover{
    text-underline: none;
    text-decoration: none;
}
.name2{
    font-size:20px;
    display: inline-block;
}
.username{
    color: orange;
    font-size: 16px;
}
.loadimg{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    overflow: visible;
    z-index: 999;
    background: #fff url("../images/log/loader.gif") no-repeat center;
}
.tabs{
    width:900px;
    height:30px;
}
.shuxian{
    display: inline-block;
    height:50px;
    color: #999999;
}
.tabs .shuxian-li{
    float: left;
}
.tabs .name-li{
    float: left;
    width:100px;
    height:30px;
    line-height:30px;
    text-align: center;
    font-size:18px;
    font-weight: 500;
}
.tabs .active a{
    color: orange;
}
.tabs li a{
    color: #999;
}
.tabs li a:hover{
    color: orange;
    cursor: pointer;
}
.info-div{
    margin:10px;
}
.reply{
    display: inline-block;
    width: 100px;
    height: 30px;
    float: right;
    font-size:14px;
    color: orange;
}
.time{
    color: #999999;
    font-size:14px;
}
.reply:hover{
    cursor: pointer;
}
.fabiao{
    float: right;
    margin-right:104px;
}
.reply-a{
    color: orange;
    font-size:14px;
}
.reply-a:hover{
    cursor: pointer;
}
.margin-div{
    margin-top:30px;
}
#containermap{
    margin:30px 0;
    width: 1200px;
    height: 500px;
}