.lists_content{
	/*width: 800px;*/
	height: 160px;
	border-bottom: #C9C5C5;
	margin: 0 auto;
	margin-top: 50px;
	padding: 5px 5px 5px 5px;
	box-shadow: darkgrey 0px 0px 19px -6px;//边框阴影
}
.lists_content h4{
	font-weight: 700;
	cursor: pointer;
}
.lists_content h4:hover{
	color: #FF9D00;
}
.ximg{
	width: 20px;
	height: 20px;
	/*float: right;*/
	margin-left: 9px;
}
.app{
	color: #CC4400;
}
.listapp{
	float: right;
	border: 1px solid yellow;
	border-radius: 25px;
	height: 25px;
	width: 68px;
}
.mining{
	width: 20px;
	height: 20px;
	border-radius: 50px;
}
.list_row{
	margin-top: 25px;
}
.list_row2{
	margin-top: 13px;
	float: right;
}
.list_row2 span{
	color: #CC4400;
}
.yImage{
	width: 225px;
	height: 150px;
}
.page{
	width: 800px;
	margin:0 auto;
}
.carousel-inner{
	margin-top: 10px;
	height: 350px;
}
/*.lists_lunbo{
	height:450px;
}*/
/*.height{
	height: 300px;
}*/
.height {
	width: 100%;
	height: 350px;
}
.lunbo_left{
	height:350px;
	margin-top: 10px;
	/*border: 1px solid #CCCCCC;*/
	box-shadow: darkgrey 0px 0px 19px -6px;//边框阴影
}
.dom{
	height: 150px;
	line-height: 30px;
	padding-left: 10px;
}
.dom span{
	font-size: 15px;
	cursor: pointer;
}
.dom .aa{
	float: right;
	margin-right: 10px;
	font-weight: 700;
	color: #C0C0C0;
}
.lunbo_dom{
	/*margin-top: 5px;
	margin-right: 10px;*/
	margin-right: 10px;
	border-bottom: 1px solid #DCDCDC;
	height: 40px;
	line-height: 40px;
}
.sousuo{
	height: 60px;
	line-height:40px;
	text-align: center;
	margin-top: 25px;
	position: relative;
}
.sousuo input{
	width: 340px;
	margin-left: 10px;
	border: 2px solid #FFA800;
	position:relative;
}
.sousuo_img{
	position: absolute;
	top: 5px;
	left: 305px;
	cursor: pointer;	
}
.sousuo_text {
	margin-left: 10px;
}
.sousuo_text_right{
	padding-top: 16px;
	margin-left: 15px;
}
.sousuo_text .text_top{
	font-size: 18px;
	color: #FF8A00;
	margin-left: 20px;
	padding-top: 5px;
}
.sousuo_text span{
	color: #001A35;
	font-size: 12px;
	padding-left: 5px;
	margin-left: 15px;
	padding-top: 10px;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	cursor: pointer;
}
.sousuo_text_img{
	float: left;
}
.lists_left{
	width: 280px;
	/*border: 1px solid #000000;*/
}
.lists_left_top{
	height: 45px;
	line-height: 40px;
	border-bottom: 1px solid #C0C4CC;
	margin-top: 20px;
}
.lists_left_top span{
	font-size: 16px;
}
.lists_left_img{
	width: 275px;
	height: 310px;
	margin-top: 40px;
	text-align: center;
}
.lists_left_img img{
	width: 200px;
	height: 300px;
	border: 3px solid #000000;
}
.lists_left_group{
	width: 300px;
	margin-top: 20px;
	display: inline-block;
	margin-left: 44px;
}
.lists_left_chengshi{
	width: 225px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #CCCCCC;
	margin-top: 15px;
}
.shuzi{
	color: #FF9D00;
	font-size: 31px;
	font-weight: 700;
}
.beijing{
	margin-left: 30px;
	font-size: 20px;
}
.lists_left_top2{
	height: 45px;
	line-height: 40px;
	border-bottom: 1px solid #C0C4CC;
	margin-top: 20px;
}
.lists_left_top2{
	font-size: 28px;
}
.lists_right{
	width: 850px;
	margin-left:-95px;
}
.baidu{
	width: 350px;
	height: 150px;
	background: white;
	position: absolute;
	top: 281px;
	left: 107px;
	display: none;
}
.text-success{
	color: #000000;
	font-size: 16px;
	cursor: pointer;
}
