.headimg img{
	width: 150px;
	height: 150px;
	border-radius: 72px;	
}
.text {
	margin: 0 auto;
}
.text h1{
	color: white;
	
	font-size: 700;
}
.Usertext{
	margin-top: 62px;
}
.backImg{
	width:100%;
	height: 450px;
	position: relative;
}
.backImg img{
	width: 100%;
	height: 450px;
}
.fiex{
	width: 100%;
	height: 200px;
	position:absolute;
	top:343px;
	left: 100px;
}
.dw{
	position: relative;
}
.back{
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: rgb(0,0,0,0.3);
	position: fixed;
	bottom:0;
	left: 0;
}
.backbutton{
	float: right;
	margin-top: 15px;
	margin-right: 50px;
}
.bottomImg{
	margin: 0 auto;
	text-align: center;
}
.bottomImg img{
	width: 610px;
	height: 510px;
}
.center{
	margin-top:60px;
}
.center h3{
	text-align: center;
}
.center h5{
	text-align: center;
}
