<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.scenic.dao.OrderInfoMapper">

    <sql id="OrderInfoParam">
        <trim prefix="where" prefixOverrides="and | or">
            <if test="orderInfo.userCode != null and orderInfo.userCode!=''">
                and oi.user_code = #{orderInfo.userCode}
            </if>
            <if test="orderInfo.scenicCode != null and orderInfo.scenicCode!=''">
                and oi.scenic_code = #{orderInfo.scenicCode}
            </if>
        </trim>
    </sql>

    <select id="getOrderInfoByPage" parameterType="cc.mrbird.febs.scenic.entity.OrderInfo" resultType="Map">
        SELECT
            oi.id,
            oi.code,
            oi.user_code AS userCode,
            oi.order_num AS orderNum,
            oi.scenic_code AS scenicCode,
            oi.order_date AS orderDate,
            oi.is_use AS isUse,
            si.scenic_name AS scenicName,
            ui.NAME
        FROM
            order_info oi
            LEFT JOIN user_info ui ON oi.user_code = ui.
            CODE LEFT JOIN scenic_info si ON oi.scenic_code = si.CODE
            <include refid="OrderInfoParam"/>
    </select>

    <select id="getOrderByUser" resultType="Map" parameterType="cc.mrbird.febs.scenic.entity.OrderInfo">
        SELECT
            oi.id,
            oi.code,
            oi.user_code AS userCode,
            oi.order_num AS orderNum,
            oi.scenic_code AS scenicCode,
            oi.order_date AS orderDate,
            oi.is_use AS isUse,
            si.*
        FROM
            order_info oi
            LEFT JOIN user_info ui ON oi.user_code = ui.
            CODE LEFT JOIN scenic_info si ON oi.scenic_code = si.CODE
            <include refid="OrderInfoParam"/>
    </select>
</mapper>
