<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.scenic.dao.QuestionInfoMapper">

    <sql id="AccountInfoParam">
        <trim prefix="where" prefixOverrides="and | or">
            <if test="questionInfo.questTitle != null and questionInfo.questTitle!=''">
                and qi.quest_title LIKE CONCAT('%',#{questionInfo.questTitle},'%')
            </if>
        </trim>
    </sql>

    <select id="getAccountInfoByPage" parameterType="cc.mrbird.febs.scenic.entity.QuestionInfo" resultType="Map">
        SELECT
            qi.id,
            qi.quest_title AS questTitle,
            qi.quest_date AS questDate,
            ui.`name`
        FROM
            question_info qi
            LEFT JOIN user_info ui ON ui.CODE = qi.quest_user
            <include refid="AccountInfoParam"/>
    </select>

</mapper>
