<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.PostInfoMapper">
    <!-- 分页查询帖子信息 -->
    <select id="getPostInfoByPage" resultType="java.util.LinkedHashMap">
        SELECT
        pi.id,
        pi.title,
        pi.content,
        pi.user_id AS userId,
        pi.images,
        pi.create_date AS createDate,
        ui.name AS userName,
        ui.avatar
        FROM
        post_info pi
        LEFT JOIN user_info ui ON ( ui.id = pi.user_id )
        WHERE
        1 = 1
        <if test="postInfo.userName != null and postInfo.userName != ''">
            AND ui.name LIKE CONCAT('%',#{postInfo.userName},'%')
        </if>
        <if test="postInfo.title != null and postInfo.title != ''">
            AND pi.title LIKE CONCAT('%',#{postInfo.title},'%')
        </if>
        <if test="postInfo.content != null and postInfo.content != ''">
            AND pi.content LIKE CONCAT('%',#{postInfo.content},'%')
        </if>
        <if test="postInfo.userId != null and postInfo.userId != ''">
            AND pi.user_id = #{postInfo.userId}
        </if>
        ORDER BY pi.create_date
    </select>

    <!-- 根据贴子ID获取回复信息 -->
    <select id="replyInfoByPostId" resultType="java.util.LinkedHashMap">
        SELECT
        ri.id,
        ri.user_id AS userId,
        ri.content,
        ri.create_date AS createDate,
        ui.name AS userName,
        ui.avatar
        FROM
        reply_info ri
        LEFT JOIN user_info ui ON ( ui.id = ri.user_id )
        WHERE
        1 = 1
        AND ri.post_id = #{ postId }
        ORDER BY
        ui.create_date DESC
    </select>

    <!-- 获取贴子信息 -->
    <select id="getPostList" resultType="java.util.LinkedHashMap">
        SELECT
        pi.id,
        pi.title,
        pi.content,
        pi.images,
        pi.create_date AS createDate,
        ui.name AS userName,
        ui.avatar,
        COUNT(ri.post_id) replyNum
        FROM
        post_info pi
        LEFT JOIN user_info ui ON ( pi.user_id = ui.id )
        LEFT JOIN reply_info ri ON ( ri.post_id = pi.id )
        WHERE
        1 = 1
        GROUP BY pi.id
    </select>

    <!-- 根据贴子编号获取详细信息 -->
    <select id="getPostInfoById" resultType="java.util.LinkedHashMap">
        SELECT
        pi.id,
        pi.title,
        pi.content,
        pi.images,
        pi.create_date AS createDate,
        ui.name AS userName,
        ui.avatar
        FROM
        post_info pi
        LEFT JOIN user_info ui ON ( pi.user_id = ui.id )
        WHERE
        pi.id = #{postId}
    </select>

    <!-- 获取热门贴子信息 -->
    <select id="getPostListHot" resultType="java.util.LinkedHashMap">
        SELECT
        pi.id,
        pi.title,
        pi.content,
        pi.images,
        pi.create_date AS createDate,
        ui.name AS userName,
        ui.avatar
        FROM
        post_info pi
        LEFT JOIN user_info ui ON ( pi.user_id = ui.id )
        WHERE
        1 = 1
        ORDER BY pi.create_date DESC
        LIMIT 4
    </select>
</mapper>
