<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.ReplyInfoMapper">

    <!-- 分页查询回复信息 -->
    <select id="replyInfoByPage" resultType="java.util.LinkedHashMap">
        SELECT
        ri.id,
        ri.post_id AS postId,
        ri.user_id AS userId,
        ri.content,
        ri.create_date AS createDate,
        ui.avatar,
        ui.name AS userName,
        pi.title
        FROM
        reply_info ri
        LEFT JOIN user_info ui ON ( ui.id = ri.user_id )
        LEFT JOIN post_info pi ON ( pi.id = ri.post_id )
        WHERE
        1 = 1
        <if test="replyInfo.userName != null and replyInfo.userName != ''">
            AND ui.name LIKE CONCAT('%',#{replyInfo.userName},'%')
        </if>
        <if test="replyInfo.title != null and replyInfo.title != ''">
            AND pi.title LIKE CONCAT('%',#{replyInfo.title},'%')
        </if>
    </select>
</mapper>
