<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.RoomTypeMapper">

    <!-- 分页查询房间类型 -->
    <select id="roomTypeByPage" resultType="java.util.LinkedHashMap">
        SELECT
        rt.id,
        rt.name,
        rt.price,
        rt.images,
        rt.area,
        rt.room_num AS roomNum,
        rt.hotel_id AS hotelId,
        rt.content,
        rt.create_date AS createDate,
        hi.name AS hotelName,
        hi.address,
        hi.tag,
        hi.content,
        hi.point,
        hi.policy,
        hi.check_in AS checkIn
        FROM
        room_type rt
        LEFT JOIN hotel_info hi ON (hi.id = rt.hotel_id)
        WHERE
        1 = 1
        <if test="roomType.name != null and roomType.name != ''">
            AND rt.name LIKE CONCAT('%',#{roomType.name},'%')
        </if>
        <if test="roomType.hotelName != null and roomType.hotelName != ''">
            AND hi.name LIKE CONCAT('%',#{roomType.hotelName},'%')
        </if>
        <if test="roomType.content != null and roomType.content != ''">
            AND rt.content LIKE CONCAT('%',#{roomType.content},'%')
        </if>
        <if test="roomType.userId != null">
            AND hi.user_id = #{roomType.userId}
        </if>
    </select>

    <!-- 查询当前房间余量 -->
    <select id="roomNum" resultType="java.lang.Integer">
        SELECT
        ( on1.roomNum - on2.oderNum ) AS num
        FROM
        ( SELECT rt.room_num AS roomNum FROM room_type rt WHERE rt.id = #{ roomTypeId } ) AS on1,
        (
        SELECT
            count( 1 ) AS oderNum
        FROM
            room_type rt
            LEFT JOIN order_info oi ON ( oi.type_id = rt.id )
        WHERE
            rt.id = #{ roomTypeId }
            AND DATEDIFF(
                DATE_FORMAT( oi.end_date, '%Y-%m-%d' ),
            DATE_FORMAT( CURDATE(), '%Y-%m-%d' )) > 0
        ) AS on2
    </select>
</mapper>
