<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.ScenicOrderMapper">

    <!-- 分页查询景点订单 -->
    <select id="scenicInfoByPage" resultType="java.util.LinkedHashMap">
        SELECT
        so.id,
        so.code,
        so.price,
        so.amount,
        so.order_status AS orderStatus,
        so.create_date AS createDate,
        so.update_date AS updateDate,
        si.scenic_name AS scenicName,
        si.web_img AS webImg,
        si.area,
        si.scenic_price AS scenicPrice,
        si.point,
        si.hot,
        si.history,
        si.link,
        si.address,
        si.level,
        si.sold,
        ui.code AS userCode,
        ui.name AS userName,
        ui.email,
        ui.phone,
        ui.avatar
        FROM
        scenic_order so
        LEFT JOIN scenic_info si ON ( si.id = so.scenic_id )
        LEFT JOIN user_info ui ON ( ui.id = so.user_id )
        WHERE
        1 = 1
        AND so.del_flag = 0
        <if test="scenicOrder.userName != null and scenicOrder.userName != ''">
            AND ui.name LIKE CONCAT('%',#{scenicOrder.userName},'%')
        </if>
        <if test="scenicOrder.scenicName != null and scenicOrder.scenicName != ''">
            AND si.scenic_name LIKE CONCAT('%',#{scenicOrder.scenicName},'%')
        </if>
        <if test="scenicOrder.code != null and scenicOrder.code != ''">
            AND so.code LIKE CONCAT('%',#{scenicOrder.code},'%')
        </if>
        <if test="scenicOrder.orderStatus != null">
            AND so.order_status = #{scenicOrder.orderStatus}
        </if>
        <if test="scenicOrder.userId != null">
            AND ui.id = #{scenicOrder.userId}
        </if>
        ORDER BY so.create_date DESC
    </select>
</mapper>
