<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>目的地页面</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/destination.css}" />
	</head>
	<body>
		<div class="loadimg"></div>
		<div class="destination-wrap" id="wrapper-all">
			<!--头部-->
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
								aria-expanded="false" class="navbar-toggle collapsed"><span class="icon-bar"></span> <span
								class="icon-bar"></span> <span class="icon-bar"></span></button>
						<a href="index" class="navbar-brand"><img src="/images/header-sprites3.png" th:src="@{/images/xz_logo2.png}" class="logo"></a></div>
					<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
						<ul class="nav navbar-nav navcen">
							<li class=""><a href="" th:href="@{/web/index}">首页</a></li>
							<li class=""><a href="" th:href="@{/web/travelLists}">旅游游记</a></li>
							<li class=""><a href="" th:href="@{/web/goods}">自由行</a></li>
							<li class=""><a href="" th:href="@{/web/hotelView.html}" style="position: relative;">订酒店</a>
							<li class="busentry" ><a href="" th:href="@{/web/salesshow}">商家入驻</a></li>
							<li class="busplatform" style="display: none; cursor: pointer;"><a
									href="{:url('store/Platform/platformshow')}">商家平台</a></li>
							<li class="Dividingline1"><span></span></li>
						</ul>

					</div>
				</div>
			</nav>

			<div class="top-img"><!--搜索区域-->
				<div class="search-box">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 search-text">Don't fear the unknown</div>
						</div>
						<div class="row middle-row">
							<div class="col-xs-12">
								<input type="text" class="search-input" placeholder="我想去..." />
								<div type="button" class="btn btn-search" onclick="searchBtn()">
									<img th:src="@{images/destination/search_02.png}" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 search-dest">
								<a href="javascript:void(0)" class="search-destination">北京</a>
								<a href="javascript:void(0)" class="search-destination">厦门</a>
								<a href="javascript:void(0)" class="search-destination">天津</a>
								<a href="javascript:void(0)" class="search-destination">澳门</a>
								<a href="javascript:void(0)" class="search-destination">南京</a>
							</div>
						</div>
					</div>
				</div>
				<!--右侧连接模块-->
				<div class="right">
					<h2>种草浙江南麂岛，成功打卡海岛日出！</h2>
					<p>
						每日仅限1500人上岛的南麂岛，已被《中国国家地理》评为中国最美的十大海岛之一。这里可以看到罕见的蓝眼泪，可以欣赏美丽的海上日出，亦可以住进奇特的洞穴酒店……
					</p>
					<div class="links">
						<a href="javascript:void(0)" class="read-all">阅读全文</a>
					</div>
				</div>
				<div>
					<a href="#scenery" class="jiantou"></a>
				</div>
			</div>



			<!--中间部分-->
			<!--城市部分-->
			<div class="middle-content">
				<div class="container">
					<div class="row ">
						<div id="scenery" name="scenery" class="col-xs-12">
							<h2 class="middle-title">热门目的地</h2>
						</div>
					</div>
					<div class="nav-bar">
						<div class="row " id="hot-destination">
							<div class="col-xs-6 col-sm-2" v-for="val in hotData">
								<a :id="val.ar_id" href="javascript:void(0)" @mouseenter="enter(val.ar_id)" @mouseleave="leave(val.ar_id)">{{val.ar_name}}</a>
							</div>
						</div>
					</div>
					<!--省份-->
					<div class="row" id="prov">
						<div class="col-xs-12 col-sm-6" v-for="val in provLists">
							<div class="prov-span">
								<div class="prov-div">{{val.p_name}}</div>
								<div class="city-span">
									<span href="javascript:void(0)" v-for="val1 in cityLists" v-if="val.p_id == val1.c_pro_id" @click="getCity(val1.c_id)">
										<span class="span-name">{{val1.c_name}}  </span>&nbsp;&nbsp;&nbsp;
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--月份部分-->
			<div class="month-content">
				<div class="month-wrapper">
					<div class="row middle-title">
						<h2 class="middle-title">当季推荐</h2>
					</div>
					<div class="row nav-bar-month">
						<div class="col-xs-6 col-sm-2" v-for="valm in monthLists">
							<a :id="monthStr+valm.m_id" href="javascript:void(0)" @mouseenter="enterMonth(valm.m_id)" @mouseleave="leaveMonth(valm.m_id)">{{valm.m_name}}</a>
						</div>
					</div>
					<!--每一个月份的图片-->
					<div class="img-content">
						<div class="row">
							<div class="col-xs-12 col-sm-4 item icon3" v-for="valmib in monthImgBeforeLists">
								<img @click="gotoDetail(valmib.s_dest_id,valmib.s_name)" :src="imgUrl + valmib.s_img" />
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-3 item icon4" v-for="valmia in monthAfterImgLists">
								<img @click="gotoDetail(valmib.s_dest_id,valmib.s_name)" :src="imgUrl + valmia.s_img" />
							</div>
						</div>
					</div>
				
				</div>
			</div>
			
			<!--主题精选-->
			<div class="theme-content">
				<div class="month-wrapper">
					<div class="row middle-title">
						<h2 class="middle-title">主题精选</h2>
					</div>
					<div class="row nav-bar-theme">
						<div class="col-xs-6 col-sm-2" v-for="valth in themeLists">
							<a :id="themeStr+valth.theme_id" href="javascript:void(0)" @mouseenter="enterTheme(valth.theme_id)" @mouseleave="leaveTheme(valth.theme_id)">{{valth.theme_name}}</a>
						</div>
					</div>
					<!--图片-->
					<div class="theme-img">
						<div class="row">
							<div class="col-xs-12 col-sm-3 icon-theme" v-for="valthi in themeImgLists" >
					<!--<div class="htmleaf-container">
								<main class="htmleaf-content">
									<ul class='-center'>
										<li>&lt;!&ndash; v-for="valthi in themeImgLists"&ndash;&gt;
											<div class='w'>
												<div class='f'>
													<svg viewBox='0 0 180 180'>
														<image class="icon-theme-img" height='100%' preserveAspectRatio='xMidYMid slice' width='100%' xlink:href='../../../public/static/images/destination/month4-img2.jpg'  ></image>
													</svg>
												</div>
												<div class='b'>
													<h3>
														Angus Young
													</h3>
												</div>
											</div>
										</li>
										<li>&lt;!&ndash; v-for="valthi in themeImgLists"&ndash;&gt;
											<div class='w'>
												<div class='f'>
													<svg viewBox='0 0 180 180'>
														<image class="icon-theme-img" height='100%' preserveAspectRatio='xMidYMid slice' width='100%' xlink:href='../../../public/static/images/destination/month4-img2.jpg'  ></image>
													</svg>
												</div>
												<div class='b'>
													<h3>
														Angus Young
													</h3>
												</div>
											</div>
										</li>
									</ul>
								</main>
						</div>-->
								<img @click="gotoDetail(valthi.th_id)" class="icon-theme-img" :src="imgUrl+valthi.th_img_name" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--引入底部公共页面-->
			<div th:replace="public_page :: myfooter"></div>
		</div>

	<script>
		var BaiDuUrl = 'https://www.baidu.com/s?wd=';
		var baiduUrl = 'https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su';
		var getTravelUrl = "{:url('getTravel')}";
		var getDetailsUrl = "{:url('getDetails')}";
		var STATIC = '';
		var NindexUrl = "error.html";// 首页
		var NindexImgUrl= "error.html";// 首页图片
		var NdestinationUrl="destinationView";// 目的地
		var Ntravel_listsUrl = "travelLists";//旅游游记
		var NgoodsUrl ="goods";// 自由行
		var NhotelUrl="hotel";// 订酒店
		var NsalesshowUrl = "salesshow"//商家入驻
		var Nplatformshow = "{:url('store/Platform/platformshow')}"// 商家平台
		var NloginshowUrl="{:url('index/Login/loginshow')}"//登录
		var Nreginshow = "{:url('index/Login/reginshow')}" //注册
		var NcenterUrl="{:url('center/index/center')}"//个人中心 我的小至 我的足迹
		var NtravelnotesUrl="{:url('travelnotes/travelnotes/travelnotes')}";//写游记
	</script>
	<script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
	<script type="text/javascript" th:src="@{/js/vue.js}"></script>
	<script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/layer.js}"></script>
	<script type="text/javascript" th:src="@{/js/nav-buttom.js}"></script>
	<script type="text/javascript" th:src="@{/js/hothotel.js}" charset="utf-8"></script>

<!--	<script type="text/javascript">-->
<!--		$(function () {-->
<!--			setTimeout(function(){-->
<!--				$('.loadimg').fadeOut('slow');-->
<!--			},500);-->
<!--		});-->

<!--		/*获取页面上所需要的数据*/-->
<!--		//获取热门目的地的数据-->
<!--		var wrapper = new Vue({-->
<!--			el:"#wrapper-all",-->
<!--			data:{-->
<!--				monthStr:'mstr',-->
<!--				themeStr:'thstr',-->
<!--				hotData:[],		//获取地区-->
<!--				provLists:[],	//获取省份-->
<!--				cityLists:[],	//获取目的地（城市）-->
<!--				themeLists:[],	//获取主题-->
<!--				monthLists:[],	//获取月份-->
<!--				monthImgBeforeLists:[],	//获取月份的前三张图片-->
<!--				monthAfterImgLists:[],	//获取月份的后四张图片-->
<!--				themeImgLists:[],	//获取主题图片-->
<!--				imgUrl : '__STATIC__'-->
<!--			},-->
<!--			methods: {-->
<!--				/*城市鼠标移入移出事件*/-->
<!--				//鼠标移入事件  切换不同地区的省份-->
<!--				enter: function (id) {-->
<!--					this.getInit(id);-->
<!--				},-->
<!--				//鼠标移出事件-->
<!--				leave: function (id) {-->
<!--					$('#' + id).removeClass();-->
<!--				},-->
<!--				//初始化  地区显示-->
<!--				getInit(id){-->
<!--					$('#' + id).addClass('on');-->
<!--					//获取到地区的id之后去目的地表获取该地区的省份-->
<!--					axios.post('getHotDestination', {id})-->
<!--							.then(function (resp) {-->
<!--								const res = resp.data;-->
<!--								if(res === 0){-->
<!--									location.href = '../../index/login/loginshow';-->
<!--								}-->
<!--								if (res.errcode === 0) {-->
<!--									wrapper.provLists = res.provArr;-->
<!--									wrapper.cityLists = res.cityArr;-->
<!--								}else {-->
<!--									layer.msg(res.errmsg);-->
<!--								}-->
<!--							});-->
<!--				},-->
<!--				/*月份鼠标移入移出事件*/-->
<!--				enterMonth: function (mid) {-->
<!--					this.getMonthImg(mid);-->
<!--				},-->
<!--				leaveMonth: function (mid) {-->
<!--					$('#' + this.monthStr + mid).removeClass();-->
<!--				},-->
<!--				//初始化  月份图片显示-->
<!--				getMonthImg(id){-->
<!--					$('#' + this.monthStr + id).addClass('on');-->
<!--					axios.post('getMonthImg',{id})-->
<!--							.then(function (resp) {-->
<!--								const res = resp.data;-->
<!--								if (res.errcode === 0){-->
<!--									wrapper.monthImgBeforeLists = res.monthBeforeImgArr;-->
<!--									wrapper.monthAfterImgLists = res.monthAfterImgArr;-->
<!--								}else {-->
<!--									layer.msg(res.errmsg);-->
<!--								}-->
<!--							})-->
<!--				},-->
<!--				/*主题鼠标移入移出事件*/-->
<!--				enterTheme: function (thid) {-->
<!--					this.getThemeImg(thid)-->
<!--				},-->
<!--				leaveTheme: function (thid) {-->
<!--					$('#' + this.themeStr + thid).removeClass();-->
<!--				},-->
<!--				//初始化  主题图片显示-->
<!--				getThemeImg(id){-->
<!--					$('#' + this.themeStr + id).addClass('on');-->
<!--					axios.post('getThemeImg',{id})-->
<!--							.then(function (resp) {-->
<!--								const res = resp.data;-->
<!--								if (res.errcode === 0){-->
<!--									wrapper.themeImgLists = res.themeImgArr;-->
<!--								}else {-->
<!--									layer.msg(res.errmsg);-->
<!--								}-->
<!--							})-->
<!--				},-->
<!--				//获取   目的地列表页所需要的导航条-->
<!--				getCity: function (id) {-->
<!--					//将城市的id发送到后台-->
<!--					axios.post('getBread',{id})-->
<!--							.then(function (resp) {-->
<!--								const res = resp.data;-->
<!--								if (res.errcode === 0){-->
<!--									localStorage.setItem('breadInfo',JSON.stringify(res.info));-->
<!--									location.href = '../../destination/Destinationlist/DestinationListView';-->
<!--								}else {-->
<!--									layer.msg(res.errmsg);-->
<!--								}-->
<!--							})-->
<!--				},-->
<!--				//点击景点列表的图片  发送请求-->
<!--				gotoDetail: function (sceneryid,name) {-->
<!--					axios.post('gotoSceneryInfo',{sceneryid})-->
<!--						 .then(function (resp) {-->
<!--						  	 const res = resp.data;-->
<!--							 localStorage.setItem('scneryInfo',JSON.stringify(res.scDetail));-->
<!--							 var arr = [sceneryid,name];-->
<!--							 localStorage.setItem('scinfo',JSON.stringify(arr));-->
<!--							 //请求成功后   跳转至该   小景点的详细信息-->
<!--							 location.href = '../Scenery/sceneryView';-->
<!--						 })-->
<!--				}-->
<!--			},-->
<!--			mounted(){-->
<!--				this.getInit(1);-->
<!--				this.getMonthImg(1);-->
<!--				this.getThemeImg(1);-->
<!--			}-->
<!--		});-->
<!--		//获取地区的请求    获取月份请求   获取主题请求   显示字-->
<!--		axios.get('getHotArea')-->
<!--			.then(function (resp) {-->
<!--				const res = resp.data;-->
<!--				if (res.errcode === 0){-->
<!--					wrapper.hotData = res.areaArr;-->
<!--					wrapper.monthLists = res.monthArr;-->
<!--					wrapper.themeLists = res.themeArr;-->
<!--				}else {-->
<!--					layer.msg(res.errmsg);-->
<!--				}-->
<!--			});-->

<!--		//键盘事件实现-->
<!--		$(document).keydown(function(event) {-->
<!--			if (event.keyCode == 13){-->
<!--				var val = $('.search-input').val();-->
<!--				getDetailInfo(val);-->
<!--			}-->
<!--		});-->
<!--		//按钮实现-->
<!--		function searchBtn(){-->
<!--			var val = $('.search-input').val();-->
<!--			getDetailInfo(val);-->
<!--			axios.post('getDetailInfo',{val})-->
<!--				.then(function (resp) {-->
<!--					const res = resp.data;-->
<!--					if (res.errcode === 0){-->
<!--						localStorage.setItem('breadInfo',JSON.stringify(res.detailInfo));-->
<!--						location.href = '../../destination/Destinationlist/DestinationListView';-->
<!--					}else {-->
<!--						layer.msg(res.errmsg);-->
<!--					}-->
<!--				});-->
<!--		}-->
<!--		//搜索发送的请求-->
<!--		function getDetailInfo(val){-->
<!--			axios.post('getDetailInfo',{val})-->
<!--				 .then(function (resp) {-->
<!--					 const res = resp.data;-->
<!--					 if (res.errcode === 0){-->
<!--						 localStorage.setItem('breadInfo',JSON.stringify(res.detailInfo));-->
<!--						 location.href = '../../destination/Destinationlist/DestinationListView';-->
<!--					 }else {-->
<!--						 layer.msg(res.errmsg);-->
<!--					 }-->
<!--				 });-->
<!--		}-->
<!--	</script>-->
	</body>
</html>