<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>小至旅行商城 - 小至自由行</title>
    <link rel="icon" type="image/x-icon" th:href="favicon.ico"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/goods.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/myindex.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalizes.css}" /><!--CSS RESET-->
    <link th:href="@{/css/camroll_slider.css}" rel="stylesheet">

    <style>
        #my-slider {
            width: 100%;
            height: 404px;
            color: white;
        }

        @media (max-width: 640px) {
            #my-slider .crs-bar-roll-current {
                width: 38px;
                height: 38px;
            }

            #my-slider .crs-bar-roll-item {
                width: 30px;
                height: 30px;
            }
        }
        .goods-title {
            height: 40px;
            margin-bottom: 15px;
            font-weight: normal;
            color: #000;
            line-height: 21px;
            overflow: hidden;
            font-size: 14px;
            transition: height .2s ease-in-out .1s;
            word-wrap: break-word;
        }

        .price {
            color: #ff8a00;
        }

        .price b {
            font-size: 22px;
            font-weight: bold;
        }

        .pro_mess_bg {
            height: 40px;
            width: 200px;
            position: absolute;
            left: 0;
            bottom: 0px;
            background: #38414c;
            opacity: 0.75;
            filter: Alpha(opacity=75);
        }

        .pro_mess {
            height: 38px;
            width: 200px;
            position: absolute;
            left: 5px;
            bottom: 0px;
            overflow: hidden;
        }

        .pro_pic {
            position: relative;
            width: 200px;
            height: 120px;
            overflow: hidden;
            margin-bottom: 5px;
        }

    </style>

</head>

<body>


<div id="app">

    <!--头部-->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false" class="navbar-toggle collapsed"><span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a href="index" class="navbar-brand"><img src="/images/header-sprites3.png"
                                                          th:src="@{/images/xz_logo2.png}" class="logo"></a></div>
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navcen">

                    <li class=""><a href="/web/index.html">首页</a></li>
                    <li class=""><a href="/web/travelLists.html?pageNo=1" >旅游游记</a></li>
                    <li class=""><a href="/web/goods.html/北京" >自由行</a></li>
                    <li class=""><a href="/web/hotelView.html?pageNo=1" style="position: relative;">订酒店</a>
                    <li class="busentry" ><a href="/web/salesshow.html" >商家入驻</a></li>
                    <li th:if="${session.user}!=null">
                        <a href="/web/getOrder.html">我的订单</a>
                    </li>
                    <li class="busplatform" style="display: none; cursor: pointer;"><a
                            href="{:url('store/Platform/platformshow')}">商家平台</a></li>
                    <li class="Dividingline1"><span></span></li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container">

        <div class="lineSearch">
            <div class="bb-hd" style="float: left;">
                <div class="bb-title">
                    <a href="http://www.mafengwo.cn/sales/" style="text-decoration: none;"><i
                            class="icon-fh"></i>自由行</a>
                </div>
            </div>
            <ul style="float:left;">
                <li class="thRelative" id="hhDrop00">
                    <div class="boxSearch">
            <span class="key_word">
              <b class="size_14">北京</b>
              出发城市
            </span>
                        <em class="ico thLeft ico_shBlue"></em>
                        <a class="thRight ico btn_search" href="javascript:void(0)"></a>
                    </div>
                    <div class="search_form_suggest" style="display:none;">
                        <h3><a class="ico btn_close thRight" item="close">关闭</a>热门出发城市</h3>
                        <dl class="search_hotList">
                            <dd class="clr_after">
                                <a href="#">北京</a>
                                <a href="#">上海</a>
                                <a href="#">广州</a>
                                <a href="#">成都</a>
                                <a href="#">杭州</a>
                                <a href="#">南京</a>
                                <a href="#">深圳</a>
                                <a href="#">济南</a>
                                <a href="#">石家庄</a>
                                <a href="#">武汉</a>
                                <a href="#">郑州</a>
                                <a href="#">重庆</a>
                                <a href="#">福州</a>
                                <a href="#">西安</a>
                                <a href="#">长沙</a>
                                <a href="#">沈阳</a>
                                <a href="#">天津</a>
                                <a href="#">哈尔滨</a>
                                <a href="#">苏州</a>
                                <a href="#">南宁</a>
                            </dd>
                        </dl>

                        <!-- <div class="clear"></div>
                        <div class="select_city_box" item="dep-search">
                          <span>输入出发城市</span>
                          <input type="text" class="input_city" item="key">
                          <button class="btn" type="button" item="commit"></button>
                          <div class="search_city_result" item="result" style="display:;">
                            <a href="javascript:void();">广州</a> 没有匹配城市
                          </div>
                        </div> -->

                        <div class="thLeft thPadT5 tab_select">
                            <dl class="clrfix">
                                <dt>A-G</dt>
                                <dd class="clr_after">
                                    <a href="#">北京</a>
                                    <a href="#">长沙</a>
                                    <a href="#">成都</a>
                                    <a href="#">重庆</a>
                                    <a href="#">福州</a>
                                    <a href="#">广州</a>
                                    <a href="#">贵阳</a>
                                </dd>
                            </dl>
                            <dl class="clrfix">
                                <dt>H-L</dt>
                                <dd class="clr_after">
                                    <a href="#">哈尔滨</a>
                                    <a href="#">杭州</a>
                                    <a href="#">合肥</a>
                                    <a href="#">济南</a>
                                    <a href="#">昆明</a>
                                </dd>
                            </dl>
                            <dl class="clrfix">
                                <dt>M-T</dt>
                                <dd class="clr_after">
                                    <a href="#">南昌</a>
                                    <a href="#">南京</a>
                                    <a href="#">南宁</a>
                                    <a href="#">宁波</a>
                                    <a href="#">青岛</a>
                                    <a href="#">三亚</a>
                                    <a href="#">上海</a>
                                    <a href="#">沈阳</a>
                                    <a href="#">深圳</a>
                                    <a href="#">石家庄</a>
                                    <a href="#">苏州</a>
                                    <a href="#">太原</a>
                                    <a href="#">天津</a>
                                </dd>
                            </dl>
                            <dl class="clrfix">
                                <dt>W-Z</dt>
                                <dd class="clr_after">
                                    <a href="#">武汉</a>
                                    <a href="#">厦门</a>
                                    <a href="#">西安</a>
                                    <a href="#">郑州</a>
                                    <a href="#">中山</a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </li>

                <li class="thRelative" id="hhDrop01">
                    <div class="boxSearch">
            <span class="key_word">
              <b class="size_14"></b>
              到达城市
            </span>
                        <em class="ico thLeft ico_shBlue"></em>
                        <a class="thRight ico btn_search" href="javascript:void(0)"></a>
                    </div>
                    <div class="search_form_suggest" style="display:none;">
                        <h3><a class="ico btn_close thRight" item="close">关闭</a>热门出发城市</h3>
                        <dl class="search_hotList">
                            <dd class="clr_after">
                                <a href="#">北京</a>
                                <a href="#">上海</a>
                                <a href="#">广州</a>
                                <a href="#">成都</a>
                                <a href="#">杭州</a>
                                <a href="#">南京</a>
                                <a href="#">深圳</a>
                                <a href="#">济南</a>
                                <a href="#">石家庄</a>
                                <a href="#">武汉</a>
                                <a href="#">郑州</a>
                                <a href="#">重庆</a>
                                <a href="#">福州</a>
                                <a href="#">西安</a>
                                <a href="#">长沙</a>
                                <a href="#">沈阳</a>
                                <a href="#">天津</a>
                                <a href="#">哈尔滨</a>
                                <a href="#">苏州</a>
                                <a href="#">南宁</a>
                            </dd>
                        </dl>

                        <!-- <div class="clear"></div>
                        <div class="select_city_box" item="dep-search">
                          <span>输入出发城市</span>
                          <input type="text" class="input_city" item="key">
                          <button class="btn" type="button" item="commit"></button>
                          <div class="search_city_result" item="result" style="display:n;"><a href="javascript:void(0);">北京</a>
                            没有匹配城市</div>
                        </div> -->

                        <div class="thLeft thPadT5 tab_select">
                            <dl class="clrfix">
                                <dt>A-G</dt>
                                <dd class="clr_after">
                                    <a href="#">北京</a>
                                    <a href="#">长沙</a>
                                    <a href="#">成都</a>
                                    <a href="#">重庆</a>
                                    <a href="#">福州</a>
                                    <a href="#">广州</a>
                                    <a href="#">贵阳</a>
                                </dd>
                            </dl>
                            <dl class="clrfix">
                                <dt>H-L</dt>
                                <dd class="clr_after">
                                    <a href="#">哈尔滨</a>
                                    <a href="#">杭州</a>
                                    <a href="#">合肥</a>
                                    <a href="#">济南</a>
                                    <a href="#">昆明</a>
                                </dd>
                            </dl>
                            <dl class="clrfix">
                                <dt>M-T</dt>
                                <dd class="clr_after">
                                    <a href="#">南昌</a>
                                    <a href="#">南京</a>
                                    <a href="#">南宁</a>
                                    <a href="#">宁波</a>
                                    <a href="#">青岛</a>
                                    <a href="#">三亚</a>
                                    <a href="#">上海</a>
                                    <a href="#">沈阳</a>
                                    <a href="#">深圳</a>
                                    <a href="#">石家庄</a>
                                    <a href="#">苏州</a>
                                    <a href="#">太原</a>
                                    <a href="#">天津</a>
                                </dd>
                            </dl>
                            <dl class="clrfix">
                                <dt>W-Z</dt>
                                <dd class="clr_after">
                                    <a href="#">武汉</a>
                                    <a href="#">厦门</a>
                                    <a href="#">西安</a>
                                    <a href="#">郑州</a>
                                    <a href="#">中山</a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="thRelative lineSearchbg">
                        <em class="thLeft ico ico_serGray"></em>
                        <input class="thLeft" name="textfield2" type="text" id="arriveSearchText"
                               placeholder="请输入主题或关键词"/>
                        <a class="ico btn_close thLeft" item="close" style="margin:8px 8px 0 0;" id="btn_delete">删除</a>
                        <a class="ico btn_search" item="commit" id="gogood" href="javascript:void(0)">搜&nbsp;&nbsp;索</a>
                    </div>
                </li>
            </ul>
        </div>


        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div id="my-slider" class="crs-wrap">
                    <div class="crs-screen">
                        <div class="crs-screen-roll">
                            <div class="crs-screen-item" style="background-image: url('/images/lunbo1.png')">
                                <div class="crs-screen-item-content"><h1>Safari in 肯尼亚 very 哈库呐玛塔塔</h1></div>
                            </div>
                            <div class="crs-screen-item" style="background-image: url('/images/lunbo2.png')">
                                <div class="crs-screen-item-content"><h1>双面柬埔寨，和“老丈人”就着炸蟑螂在海边吹了一瓶伏特加</h1></div>
                            </div>
                            <div class="crs-screen-item" style="background-image: url('/images/lunbo3.png')">
                                <div class="crs-screen-item-content"><h1>法兰西，慢慢喜欢你</h1></div>
                            </div>
                            <div class="crs-screen-item" style="background-image: url('/images/lunbo4.png')">
                                <div class="crs-screen-item-content"><h1>>摩洛哥：薄荷茶加糖，顺时针漫游</h1></div>
                            </div>
                            <div class="crs-screen-item" style="background-image: url('/images/lunbo5.png')">
                                <div class="crs-screen-item-content"><h1>11天11夜，战地枪火下的墓地婚纱</h1></div>
                            </div>
                        </div>
                    </div>
                    <div class="crs-bar">
                        <div class="crs-bar-roll-current"></div>
                        <div class="crs-bar-roll-wrap">
                            <div class="crs-bar-roll">
                                <div class="crs-bar-roll-item" style="background-image: url('/images/lunbo1.png')"></div>
                                <div class="crs-bar-roll-item" style="background-image: url('/images/lunbo2.png')"></div>
                                <div class="crs-bar-roll-item" style="background-image: url('/images/lunbo3.png')"></div>
                                <div class="crs-bar-roll-item" style="background-image: url('/images/lunbo4.png')"></div>
                                <div class="crs-bar-roll-item" style="background-image: url('/images/lunbo5.png')"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div style="text-align:center;clear:both">
        </div>
        <div class="mod-hd" data-mes-g="1-0">
            <a href="#" target="_blank" data-mes-g="1-0-0" data-mes-t="标题">
                <h2 style="color:#fb6720">本周热销榜</h2>
            </a>
        </div>
        <div class="row">
            <!--<div class="col-sm-6 col-md-3 goods-item"  v-for="(val,index) in list" @click="goodsDetails(val.goods_id)" v-if="index <= 3">-->
            <!--<div class="thumbnail">-->
            <!--<img :src="STATIC + val.goods_img" alt="商品" style="height: 142px;">-->
            <!--<div class="caption">-->
            <!--<h3 class="goods-title" v-text="val.goods_name"></h3>-->

            <!--<p>-->
            <!--<span class="pirce" style=" color: #ff8a00;"><b style="font-size: 22px;-->
            <!--font-weight: bold;">￥{{val.goods_price}}</b>起</span>-->
            <!--<span style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:{{val.busname}}</span>-->

            <!--</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--数据展示 Start ------------------------------------------ -->

            <div style="width: 202px;display: inline-block;margin:12px;position: relative" th:each="quest:${scenicTop.records}">
                <div class="pro_pic">
                    <img src="" th:src="${quest.webImg}"  alt="" width="218" height="127">
                    <div class="pro_mess_bg"></div>
                    <div class="pro_mess">
                        <a rel="nofollow" th:href="@{/web/scenicInfo.html(id=${quest.id})}">
                            <span>&lt;<span th:text="${quest.scenicName}"></span>&nbsp;<span th:text="${quest.level}"></span>&gt;</span>
                            <p th:text="${quest.history}"></p>
                        </a>
                    </div>
                </div>
                <a th:href="@{/web/scenicInfo.html(id=${quest.id})}">
                    <div class="pro_infor clearfix" style="">
                                <span class="price">
                                    ￥
                                    <b th:text="${quest.scenicPrice}"></b>
                                    <i>起</i>
                                </span>
                        <span class="satisfaction">流量/日 <span th:text="${quest.sold}"></span></span>
                    </div>
                </a>
            </div>


            <!--数据展示 End ------------------------------------------ -->

        </div>
        <div class="mod-hd" data-mes-g="1-0" style="margin-top:25px;">
            <a href="#" target="_blank" data-mes-g="1-0-0" data-mes-t="标题">
                <h2 style="color:#fb6720">休假去哪儿</h2>
            </a>

        </div>
        <div class="row">
            <!--<div class="col-sm-6 col-md-3 goods-item" v-for="(val,index) in list" @click="goodsDetails(val.goods_id)"-->
                 <!--v-if='index > 3 && index <= 7'>-->
                <!--<div class="thumbnail">-->
                    <!--<img :src="STATIC + val.goods_img" alt="商品" style="height: 142px;">-->
                    <!--<div class="caption">-->
                        <!--<h3 class="goods-title" v-text="val.goods_name"></h3>-->

                        <!--<p>-->
                <!--<span class="pirce" style=" color: #ff8a00;"><b style="font-size: 22px;-->
                                <!--font-weight: bold;">￥{{val.goods_price}}</b>起</span>-->
                            <!--<span style="float: right;padding-top: 8px;font-size: 12px;color: #666;">店铺:{{val.busname}}</span>-->

                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!-- 数据展示 Start ---------------------------------------- -->

            <div style="width: 202px;display: inline-block;margin:12px;position: relative" th:each="scenic:${scenicList.records}">
                <div class="pro_pic">
                    <img src="" th:src="${scenic.webImg}"  alt="" width="218" height="127">
                    <div class="pro_mess_bg"></div>
                    <div class="pro_mess">
                        <a rel="nofollow" th:href="@{/web/scenicInfo.html(id=${scenic.id})}">
                            <span>&lt;<span th:text="${scenic.scenicName}"></span>&nbsp;<span th:text="${scenic.level}"></span>&gt;</span>
                            <p th:text="${scenic.history}"></p>
                        </a>
                    </div>
                </div>
                <a th:href="@{/web/scenicInfo.html(id=${scenic.id})}">
                    <div class="pro_infor clearfix" style="">
                                <span class="price">
                                    ￥
                                    <b th:text="${scenic.scenicPrice}"></b>
                                    <i>起</i>
                                </span>
                        <span class="satisfaction">流量/日 <span th:text="${scenic.sold}"></span></span>
                    </div>
                </a>
            </div>

            <!-- 数据展示 End ------------------------------------------ -->

        </div>

    </div>

    <!--引入底部公共页面-->
    <div th:replace="public_page :: myfooter"></div>
</div>


<script>
    var BaiDuUrl = 'https://www.baidu.com/s?wd=';
    var baiduUrl = 'https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su';
    var getTravelUrl = "{:url('getTravel')}";
    var getDetailsUrl = "{:url('getDetails')}";
    var STATIC = '';
    var NindexUrl = "error.html";// 首页
    var NindexImgUrl = "error.html";// 首页图片
    var NdestinationUrl = "destinationView";// 目的地
    var Ntravel_listsUrl = "travelLists";//旅游游记
    var NgoodsUrl = "goods";// 自由行
    var NhotelUrl = "hotel";// 订酒店
    var NsalesshowUrl = "salesshow"//商家入驻
    var Nplatformshow = "{:url('store/Platform/platformshow')}"// 商家平台
    var NloginshowUrl = "{:url('index/Login/loginshow')}"//登录
    var Nreginshow = "{:url('index/Login/reginshow')}" //注册
    var NcenterUrl = "{:url('center/index/center')}"//个人中心 我的小至 我的足迹
    var NtravelnotesUrl = "{:url('travelnotes/travelnotes/travelnotes')}";//写游记
</script>
<script th:src="@{/js/jquery-2.1.0.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript" charset="utf-8"></script>

<script th:src="@{/js/vue.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/axios.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript" charset="utf-8"></script>

<script th:src="@{/js/nav-buttom.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/hhDrop.js}"></script>
<script th:src="@{/js/camroll_slider.js}"></script>
<script>
    $("#my-slider").camRollSlider();
</script>
<script>

    $('#myCarousel').carousel({
        interval: 2000,
    })

    $(function () {
        $('#hhDrop00').hhDrop({});
        $('#hhDrop01').hhDrop({});
    })

    $("#gogood").click(function () {
        if($("#arriveSearchText").val() != '') {
            window.location.href="/web/goods.html/"+$("#arriveSearchText").val();
        }
    })
</script>

</body>

</html>