<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--底部-->
<footer class=" probootstrap-animate" th:fragment="myfooter">
    <div class="container1">
        <div class="phone">
            <ul>
                <li>
                    <a class="btn btn-info">用户反馈</a>
                </li>
                <li>
                    <a class="btn btn-info">加入我们</a>
                </li>
                <li>
                    <a class="btn btn-info f-login">登录注册</a>
                </li>
                <li>
                    <a class="btn btn-info f-tuichu">注销退出</a>
                </li>
            </ul>
            <p>© 2019 Mafengwo.cn 京ICP备11015476号 </p>
            <p>北京蚂蜂窝网络科技有限公司 &nbsp;&nbsp;企业营业执照</p>
            <p>小至客服：+86-10-8341-6888</p>
        </div>
        <div class="comput" style="text-align: center">
            <div>
            <dl class="ft-info f-left" style="float: none;display: inline-block;text-align: left">
                <dt>小至旅游网</dt>
                <dd>中国年轻一代用得更多的旅游网站</dd>
                <dd>上亿旅行者共同打造的<strong>"旅行神器"</strong></dd>
                <dd><strong>60,000</strong> 多个全球旅游目的地</dd>
                <dd><strong>600,000</strong> 个细分目的地新玩法</dd>
            </dl>
            <dl class="ft-info f-center" style="float: none;display: inline-block;text-align: left">
                <dt>关于我们</dt>
                <dd>
                    <a>关于小至</a> &nbsp; &nbsp;
                    <a>联系我们</a>
                </dd>
                <dd>
                    <a>隐私政策</a> &nbsp; &nbsp;
                    <a>商标声明</a>
                </dd>
                <dd>
                    <a>服务协议</a> &nbsp; &nbsp;
                    <a>游记协议</a>
                </dd>
                <dd>
                    <a>网站地图</a> &nbsp; &nbsp;
                    <a style="color: #ff9d00;">加入小至</a>
                </dd>
            </dl>
            <dl class="ft-info f-right" style="float: none;display: inline-block;text-align: left">
                <dt style="text-align: center;"></dt>
                <dd>
                    <dt>旅行服务</dt>
                    <dd>
                        <a>旅游攻略</a> &nbsp; &nbsp;
                        <a th:href="@{hotel}">酒店预订</a>
                    </dd>
                    <dd>
                        <a>旅游特价</a> &nbsp; &nbsp;
                        <a>国际租车</a>
                    </dd>
                    <dd>
                        <a>旅游问答</a> &nbsp; &nbsp;
                        <a>旅游指南</a>
                    </dd>
                    <dd>
                        <a th:href="@{salesshow}" style="color: #ff9d00;">旅行商城全球商家入驻</a> &nbsp; &nbsp;
                    </dd>
                    <!--<ul class="clearfix">-->
                        <!--<li>-->
                            <!--<a>旅游攻略</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a>酒店预订</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a>旅游特价</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a>国际租车</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a>旅游问答</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a>旅游指南</a>-->
                        <!--</li>-->
                        <!--<li style="width: 120px;">-->
                            <!--<a href="" style="color: #ff9d00;">旅行商城全球商家入驻</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                </dd>
            </dl>
            </div>
            <!--<dl class="ft-info f-img">-->
                <!--<dd>-->
                    <!--<span></span>-->
                    <!--<img th:src="@{images/footrer/mfwapp.png}"/>-->
                    <!--<p>小至良品<br>官方服务号</p>-->
                <!--</dd>-->
                <!--<dd>-->
                    <!--<span></span>-->
                    <!--<img th:src="@{images/footrer/mfwapp.png}"/>-->
                    <!--<p>小至旅游<br>订阅号</p>-->
                <!--</dd>-->
            <!--</dl>-->
            <dl class="ft-info-b">
                <dt>旅游之前，先上小至！</dt>
                <dd>
                    <img th:src="@{/images/footrer/weibo1.png}"/>
                    <img th:src="@{/images/footrer/weibo.png}"/>
                    <img th:src="@{/images/footrer/kj.png}"/>
                    <br/>© 2019 Mafengwo.cn
                </dd>
            </dl>
            <!--<div class="ft-links">-->
            <!--<a>马可波罗</a>-->
            <!--<a>Onlylady女人志</a>-->
            <!--<a>艺龙旅游指南</a>-->
            <!--<a>欣欣旅游网</a>-->
            <!--<a>户外运动</a>-->
            <!--<a>365音乐网</a>-->
            <!--<a>爱问共享资料</a>-->
            <!--<a>旅游网</a>-->
            <!--<a>小说网</a>-->
            <!--<a>学习啦</a>-->
            <!--<a>游多多自助游</a>-->
            <!--<a>问答</a>-->
            <!--<a>火车时刻表</a>-->
            <!--<a>驴妈妈旅游网</a>-->
            <!--<a>好豆美食网</a>-->
            <!--<a>二手车</a>-->
            <!--<a>绿野户外</a>-->
            <!--<a>途牛旅游网</a>-->
            <!--<a>图吧</a>-->
            <!--<a>SUV联合越野</a>-->
            <!--<a>手机浏览器</a>-->
            <!--<a>上海地图</a>-->
            <!--<a>天气预报查询</a>-->
            <!--<a>同程旅游</a>-->
            <!--<a>火车票</a>-->
            <!--<a>小至大学</a>-->
            <!--<a>马尔代夫旅游</a>-->
            <!--<a>YunOS</a>-->
            <!--<a>携程旅游</a>-->
            <!--<a>锦江旅游</a>-->
            <!--<a>火车时刻表</a>-->
            <!--<a>TripAdvisor</a>-->
            <!--<a>天巡网</a>-->
            <!--<a>短租房</a>-->
            <!--<a>租租车</a>-->
            <!--<a>五分旅游网</a>-->
            <!--<a>酒店预订</a>-->
            <!--<a>爱旅行网</a>-->
            <!--<a>旅游</a>-->
            <!--<a>旅游网</a>-->
            <!--<a>wed114结婚网</a>-->
            <!--<a>车讯网</a>-->
            <!--<a>遨游旅游网</a>-->
            <!--<a>手机</a>-->
            <!--<a>更多友情链接&gt;&gt;</a>-->
            <!--</div>-->
            <!--<div class="ft-copy">-->
            <!--<img style="float: left;margin:5px 20px 0 0;" th:src="@{images/footrer/footmfw.png}"/>-->
            <!--<p style="text-align: center">-->
            <!--<a>京ICP备11015476号</a>-->
            <!--<a><img th:src="@{images/footrer/police_record.png}">京公网安备11010502013401号</a>-->
            <!--<a>京ICP证110318号</a>-->
            <!--<span>违法和不良信息举报电话: 010-83416877 举报邮箱: mfwjubao@mafengwo.com</span>-->
            <!--</p>-->
            <!--<p>-->
            <!--<a>网络出版服务许可证</a>-->
            <!--<a>增值电信业务经营许可证</a>-->
            <!--<a>营业执照</a>-->
            <!--<a>广播电视节目制作经营许可证</a>-->
            <!--<a>帮助中心</a>-->
            <!--<span class="m_l_10">小至客服：国内</span><span class="highlight">4006-345-678</span>-->
            <!--<span class="m_l_10">海外</span> <span class="highlight">+86-10-8341-6888</span>-->
            <!--</p>-->
            <!--</div>-->
            <!--<div class="f-imgae" style="text-align: center;">-->
            <!--<a><img th:src="@{images/footrer/footkx.png}"/></a>-->
            <!--<a><img th:src="@{images/footrer/footcx.png}"/></a>-->
            <!--<a><img th:src="@{images/footrer/footwx.png}"/></a>-->
            <!--<a><img th:src="@{images/footrer/footwxrz.png}"/></a>-->
            <!--</div>-->
        </div>
    </div>
</footer>

</body>
</html>