<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,shrink-to-fit=no">
    <title>酒店预订,网上预订酒店,国内外酒店价格查询预订平台 - 小至</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" th:href="@{favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/hotelView.css}"/>
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
    <script th:src="@{/js/jquery-2.1.0.js}" type="text/javascript" charset="utf-8"></script>

</head>
<body>
<!--导航栏-->

<div id="app">

    <!--<vue-nav :idx='5'></vue-nav>-->

    <!--头部-->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false" class="navbar-toggle collapsed"><span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a href="index" class="navbar-brand"><img src="/images/header-sprites3.png" th:src="@{/images/xz_logo2.png}" class="logo"></a></div>
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navcen">
                    <li class=""><a href="/web/index.html">首页</a></li>
                    <li class=""><a href="/web/travelLists.html?pageNo=1" >旅游游记</a></li>
                    <li class=""><a href="/web/goods.html/北京" >自由行</a></li>
                    <li class=""><a href="/web/hotelView.html?pageNo=1" style="position: relative;">订酒店</a>
                    <li class="busentry" ><a href="/web/salesshow.html" >商家入驻</a></li>
                    <li th:if="${session.user}!=null">
                        <a href="/web/getOrder.html">我的订单</a>
                    </li>
                    <li class="busplatform" style="display: none; cursor: pointer;"><a
                            href="{:url('store/Platform/platformshow')}">商家平台</a></li>
                    <li class="Dividingline1"><span></span></li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container">
        <div id="scenic-img" >
            <div style="margin: 100px;height: 200px">
                <i><h2 th:text="${questionInfo.questTitle}"></h2></i>
                <br/>
                <br/>
                <p style="float: right"> <i><span>by 管理员</span></i> <i><span th:text="${questionInfo.questDate}"></span></i></p>
            </div>
        </div>

        <div class="comment" style="width: 80%;margin: 0 auto; "></div>
        <script>
            new Valine({
                el: '.comment', //
                app_id: 'rCiaxBlMA1hucMYgev9vhqDb-MdYXbMMI', // 这里填写上面得到的APP ID
                app_key: 'BYXoWvU692bdfIq4uj9umgMJ', // 这里填写上面得到的APP KEY
                placeholder: '说些话吧...', // [v1.0.7 new]留言框占位提示文字
                notify: false, // 邮件提醒!!!
                verify: true, // 验证码
                avatar: 'robohash'
            });
            $(".power").hide()
        </script>
    </div>


    <!--引入底部公共页面-->
    <div th:replace="public_page :: myfooter"></div>
</div>


<script th:src="@{/js/bootstrap.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/vue.js}" type="text/javascript" charset="utf-8"></script>

<script th:src="@{/js/axios.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/layer/layer.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/laydate/laydate.js}"></script>
<script th:src="@{/js/nav-buttom.js}" type="text/javascript" charset="utf-8"></script>
<!--<script th:src="@{/js/hotelsearch.js}"></script>-->
<!--<script th:src="@{/js/hothotel.js}" type="text/javascript" charset="utf-8"></script>-->
<!--<script th:src="@{/js/hotelView.js}" type="text/javascript" charset="utf-8"></script>-->
</body>
</html>