<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>成 功</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register-login.css}">
    <!-- Favicon -->
</head>
<body>
<div id="box"></div>
<div class="cent-box register-box">
    <div class="cent-box-header">
        <h1 class="main-title hide"></h1>
        <h3 class="sub-title">纵有疾风起人生不言弃</h3>
        <i><a href="/web/login.html"><h3>登 录</h3></a></i>
    </div>
</div>

<!--<div class="footer">-->
<!--    <p>著作権 © 2019 樊可</p>-->
<!--</div>-->

<script  th:src="@{/js/particles.js}" type="text/javascript"></script>
<script  th:src="@{/js/background.js}" type="text/javascript"></script>
<script  th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script  th:src="@{/js/layer/layer.js}" type="text/javascript"></script>
<script  th:src="@{/js/register.js}"></script>

</body>
</html>